# pixi environments
.pixi/*
# !.pixi/config.toml
data/*
data.zip
papers/*
output/*
.vscode/*
__pycache__/*
*.pyc
*.pyo
.DS_Store
OpenPCDet
!models/openpcdet
results/**/*_vis/
docs/tc2_nuscenes_verification.md